<nav class="navbar horizontal-layout-navbar fixed-top navbar-expand-lg">
  <div class="navbar-menu-wrapper d-flex flex-grow">
    <ul class="navbar-nav navbar-nav-left collapse navbar-collapse" id="horizontal-top-example">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="/admin"  aria-expanded="false">
          Dashboard
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="employees-dropdown" data-toggle="dropdown" aria-expanded="false">
          Blog
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="employees-dropdown">
          <a class="dropdown-item" href="/admin/posts">
            <i class="mdi mdi-monitor-multiple mr-2 text-primary"></i>
            Posts
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/addpost">
            <i class="mdi mdi-scale-balance mr-2 text-primary"></i>
            Add Post
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/admin/visitors" id="actions-dropdown" data-toggle="dropdown" aria-expanded="false">
          Affiliates & Visitors
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
          <a class="dropdown-item" href="/admin/affiliates">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Affiliates
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/addaffiliate">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Add Affiliate
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fa fa-user-multiple-outline mr-2 text-primary"></i>
            Visitors
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
          Addresses
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
          <a class="dropdown-item" href="/admin/addresses">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Addresses
          </a>
          <a class="dropdown-item" href="/admin/addaddress">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Add Address
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
          Reviews
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
          <a class="dropdown-item" href="/admin/reviews">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Reviews
          </a>
          <a class="dropdown-item" href="/admin/addreview">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Add Review
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
          Messages
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
          <a class="dropdown-item" href="/admin/messages">
            <i class="mdi mdi-launch mr-2 text-primary"></i>
            Messages
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="collapse" data-target="#horizontal-top-example">
      <span class="fa fa-bars"></span>
    </button>
  </div>
</nav>
