<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row spad">
				<div class="col-md-6 col-lg-3 footer-widget">
					<img src="img/logo.png" class="mb-4" alt="">
					<p>
					<span>
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved <br> BTC2PP.NET
          </span>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Resources</h5>
					<ul>
						<li><a href="#">How to Buy Bitcoin</a></li>
						<li><a href="#">Avoid Scams</a></li>
						<li><a href="">Terms of Use</a></li>
						<li><a href="">Privacy Policy </a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Bitcoin Links</h5>
					<ul>
						<li><a href="https://btc.com/stats">Network Stats</a></li>
						<li><a href="https://btc.com/">Block Explorer</a></li>
						<li><a href="https://coinmarketcap.com/currencies/bitcoin/">CoinMarketCap</a></li>
						<li><a href="https://bitcointalk.org/">BitcoinTalk.com</a></li>
						<li><a href="https://bitcoin.org/bitcoin.pdf">Whitepaper</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Contact Us</h5>
						<ul>
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="/contact">Send Feedback</a></li>
						</ul>
				</div>
			</div>
		</div>
	</footer>
