<head><link rel="stylesheet" href="../css/style.css"/></head>

<body>
    <!-- error area start -->
    <center>
            <div class="error-content" >
                <h2>401</h2>
                <p>Access Denied!</p>
                <a href="/">Back to Main Page</a>
            </div>
    </center>
    <!-- error area end -->

</body>
