<head><link rel="stylesheet" href="../css/style.css"/></head>

<body>
    <!-- error area start -->
    <center>
            <div class="error-content" >
                <h2>500</h2>
                <p>Internal Server Error!<br> Please contact support!</p>
                <a href="/">Back to Main Page</a>
            </div>
    </center>
    <!-- error area end -->

</body>
